{% if {{include.align }} == "left" or {{include.align }} == "right" %}
<figure class="{{ include.align }}">
{% else %}
<figure>
{% endif %}    
    <picture>
        <source srcset="{{ include.url }}.webp" type="image/webp">
        <img class="img-fluid rounded" width="{{ include.width }}" src="{{ include.url }}.{{ include.ext }}" alt="{{ include.caption }}">
        {% if include.caption %}
            <figcaption>{{ include.caption }}</figcaption>
        {% endif %}
    </picture>
</figure>

